.order {
  background: grey;
  margin: 10px;
  border: 1px solid grey;
}

.order:not(:first-of-type) {
  display: none;
}

.label, .guest_number {
  background: red;
}

.guest_order {
  border: 1px solid black;
}

.guest_image {
  height: 30px;
  width: 10px;
}

.guest_image > div {
  height: calc(100% / 3);
  width: 100%;
}

.guest_happiness {
  width: 100%;
  height: 10px;
  /* background: black; */
  background: linear-gradient(90deg, rgba(245,0,0,1) 0%, rgba(252,184,0,1) 40%, rgba(255,207,0,1) 70%, rgba(0,255,23,1) 100%);
  position: relative;
}

.guest_happiness > div {
  height: 100%;
  background: black;
  /* background-image: linear-gradient(90deg, rgba(245,0,0,1) 0%, rgba(252,184,0,1) 40%, rgba(255,207,0,1) 70%, rgba(0,255,23,1) 100%); */
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s ease-in-out;
}